@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crete+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Meera+Inimai&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  background: #de9977;
}

/* Toolbar */
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #3c3a39;
  height: 80px;
  width: 100%;
  position: fixed;
  z-index: 1;
}

.logo {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 23px;
  line-height: 24px;
  color: white;
  text-decoration: none;
  display: block;
  margin-left: 35px;
  min-width: 180px;
}

.nav-bar {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  max-width: 1200px;
  align-items: center;
  padding-right: 30px;
}

.nav-bar-pages {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  color: #fff;
  text-decoration: none;
  justify-self: right;
  margin: 15px;
  display: none;
}

.menu-icon {
  margin: 7px;
}

.menu-line {
  background-color: white;
  width: 40px;
  height: 3px;
  margin: 7px;
  border-radius: 3px;
}

/* Headline */
.headline {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 200px 10px 120px 10px;
  background-color: #1c1a19;
  gap: 25px;
  background-image: url(media/headline-mobile.png);
  background-repeat: no-repeat;
  background-position: bottom right ;
}

.headline-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}

.primary-text {
  width: 327px;
  height: 124px;
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: 0.37px;
  color: #ff6b00;
}

.supporting-text {
  width: 327px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  display: flex;
  align-items: center;
  color: #fff5e1;
}

.description {
  width: 327px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
}

.social-media-icons {
  padding: 10px;
  margin-right: 140px;
  display: flex;
  flex-direction: row;
}

.social-media-icons li {
  display: flex;
  justify-content: space-between;
  margin: 12px;
}

.social-media-icons img {
  width: 25px;
}

/*.background-img1 {
  background-image: url('media/illustration-heading.png');
  background-repeat: no-repeat;
  position: absolute;
  width: 430.89px;
  height: 365.03px;
  left: 55%;
  top: 380px;
  transform: scale(0.85);
}*/

/* Middle Section */
.works {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 120px 0;
  gap: 20px;
  background: white;
  width: 100%;
  top: 682px;
}

.works h2 {
  width: 327px;
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  justify-content: center;
  color: #1c1a19;
  min-width: 314px;
  margin: 0 20px;
}

.recent-work-container {
  display: flex;
  flex-direction: column;
  width: 90%;
  align-items: center;
}

.vector-line1 {
  display: inline;
  width: 85%;
  border-bottom: 1px solid #575757;
  margin-top: 50px;
}

.work1 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 0.7fr 1fr 0.6fr 0.6fr;
  width: 330px;
  height: 600px;
  justify-items: start;
  align-items: center;
  margin-top: 50px;
}

.multi-post-image {
  grid-column: 1/2;
  grid-row: 1/2;
  height: 100%;
  width: 100%;
}

.work1 h3 {
  grid-column: 1/2;
  grid-row: 2/3;
  width: 327px;
  height: 36px;
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  color: #091e42;
  margin: 12px 0;
}

.work1 p {
  grid-column: 1/2;
  grid-row: 3/4;
  width: 327px;
  height: 147px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #091e42;
}

.categories {
  grid-column: 1/2;
  grid-row: 4/5;
  margin: 12px 0;
}

.categories ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  padding: 0;
}

.categories li {
  border: 1px solid rgb(171, 171, 171);
  border-radius: 1px;
  padding: 8px;
  margin: 5px 10px 5px 0;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #091e42;
}

.button1 {
  grid-column: 1/2;
  grid-row: 5/6;
  background: #ff6b00;
  color: white;
  border: none;
  border-radius: 2px;
  width: 130px;
  height: 45px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.03em;
}

/* Grid Container */
.wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(6, 1fr);
  width: 330px;
  gap: 30px;
}

.work-collection {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 3fr 2fr 0.8fr 0.9fr;
  background-image: url('media/work2_image.png');
  background-repeat: no-repeat;
  background-size: cover;
  width: 330px;
}

.project-title {
  grid-column: 1/2;
  grid-row: 1/2;
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  color: #fff;
  align-self: end;
  margin: 0 13px;
}

.project-description {
  grid-column: 1/2;
  grid-row: 2/3;
  width: 315;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: white;
  margin: 7px 13px;
}

.project-tag {
  grid-column: 1/2;
  grid-row: 3/4;
  margin: 0 12px;
}

.project-tag ul {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0 0 8px 0;
}

.project-tag li {
  border-radius: 1px;
  padding: 8px;
  margin: 0 10px 0 0;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: white;
  background: rgba(255, 255, 255, 0.24);
}

.project-button {
  grid-column: 1/2;
  grid-row: 4/5;
  background: #ff6b00;
  color: white;
  border: none;
  border-radius: 2px;
  width: 330px;
  height: 100%;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.03em;
}

/* About Me Section */
.about-me {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  padding: 120px 0;
  gap: 12px;
  width: 100%;
  background: #1c1a19;
  background-image: url('media/about-me-mobile.png');
  background-repeat: no-repeat;
  background-position: right;
  background-position-y: 320px ;
}

.about-me-title {
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 72px;
  line-height: 88px;
  letter-spacing: 0.37px;
  color: #ff6b00;
}

.about-me-description {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  width: 327px;
  color: #f4f5f7;
}

.button2 {
  background: #ff6b00;
  color: white;
  border: none;
  border-radius: 2px;
  width: 180px;
  height: 60px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.03em;
  margin: 20px 140px 0 0;
}

/*.background-img2 {
  background-image: url('media/ilustration-about-me.png');
  background-repeat: no-repeat;
  width: 100%;
  position: absolute;
  height: 360px;
  left: 50%;
  top: 4550px;
  transform: scale(0.85);
}*/

.vector-line2 {
  width: 95%;
  margin-top: 150px;
  align-self: center;
  border-bottom: 1px solid white;
  top: 470px;
}

.knowledge {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 29px;
  line-height: 44px;
  color: #fff;
  padding: 0;
  text-align: center;
  width: 100%;
  background-color: #1c1a19;
  padding-bottom: 100px;
}

.about-me-title2 {
  display: inline-block;
}

.knowledge li {
  color: #fff;
  margin: 20px;
  list-style: none;
}

.bullet1 {
  background: url(media/bullet-diamond.png) no-repeat;
  background-position: 0 5px;
  line-height: 1.5625;
  padding: 0 0 0 45px;
  margin-left: 1em;
}

.bullet2 {
  background: url(media/bullet-square.png) no-repeat;
  background-position: 0 5px;
  line-height: 1.5625;
  padding: 0 0 0 45px;
  margin-left: 1em;
}

.bullet3 {
  background: url(media/bullet-circle.png) no-repeat;
  background-position: 0 5px;
  line-height: 1.5625;
  padding: 0 0 0 45px;
  margin-left: 1em;
}

.sublist {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 43px;
}

/* Contact Me Form */
.contact-me {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 120px 24px 80px 24px;
  gap: 30px;
  width: 100%;
  left: 0;
  top: 6200px;
  background: white;
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  margin: 20px 0;
  width: 80%;
}

.contact-me h2 {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  text-align: center;
  color: #172b4d;
}

.user-info {
  margin-bottom: 40px;
  padding: 20px 15px;
  height: 2em;
  width: 100%;
  border: 0;
  border-bottom: 1px solid #dbd8d7;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
}

.contact-form textarea {
  margin-bottom: 20px;
  padding: 15px 20px;
  height: 10em;
  width: 100%;
  border: 0;
  background: #fbf8f7;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #3c3a39;
}

.contact-form button {
  background: #ff6b00;
  color: white;
  border: none;
  border-radius: 2px;
  width: 140px;
  height: 50px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.03em;
}

footer {
  display: flex;
  justify-content: center;
  background: white;
  border-top: 2px solid #dfe1e6;
}

footer .social-media-icons {
  margin-right: 0;
}

footer .social-media-icons img {
  filter: brightness(0.4);
  width: 20px;
}

/* Universal styles */
button:hover {
  background: #fff5e1;
  border: 1px solid #f55800;
  color: #f55800;
}

button:active {
  background: #e05304;
  color: #f4f1f0;
}

::placeholder {
  color: #979493;
}

@media only screen and (min-width: 768px) {
  .menu-icon {
    display: none;
  }

  .nav-bar-pages {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    display: flex;
    color: #fff;
    text-decoration: none;
    justify-self: right;
    margin: 15px;
  }

  .headline {
    flex-direction: row-reverse;
    align-items: center;
    padding: 200px 10px 130px 10px;
    height: 100vh;
    background-image: url(media/Illustration-header.png);
    background-repeat: no-repeat;
    background-position: bottom right ;
  }

  .social-media-icons {
    flex-direction: column;
    margin-right: 0;
  }

  footer .social-media-icons {
    flex-direction: row;
    margin-right: 0;
  }

  .headline-info {
    align-items: flex-start;
  }

  .description {
    width: 45%;
  }

  /*.background-img1 {
    background-image: url('media/illustration-heading.png');
    background-repeat: no-repeat;
    position: absolute;
    width: 430.89px;
    height: 365.03px;
    left: 65%;
    top: 100px;
    transform: scale(1.8);
  }*/

  .work1 {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    grid-template-rows: 1fr;
    width: 90%;
    height: auto;
    justify-items: left;
    align-items: flex-start;
    max-width: 1100px;
  }

  .recent-work-container {
    flex-direction: row;
    align-items: center;
  }

  .vector-line1 {
    margin-top: 7px;
  }

  .multi-post-image {
    grid-column: 1/2;
    grid-row: 1/2;
    height: 100%;
    max-height: 600px;
    align-self: center;
  }

  .work1-info {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    height: auto;
  }

  .work1 h3 {
    margin: 0 0 12px 0;
  }

  .work1 p {
    width: auto;
    height: auto;
  }

  .wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    width: auto;
    height: auto;
    gap: 30px;
    justify-content: center;
    transform: scale(auto);
  }

  .work-collection {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 4fr 2fr 0.8fr;
    background-image: url('media/work2_image.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 330px;
  }

  .project-button {
    grid-column: 1/2;
    grid-row: 4/5;
    background: #ff6b00;
    color: white;
    border: none;
    border-radius: 2px;
    width: 330px;
    height: 100%;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 24px;
    letter-spacing: 0.03em;
    display: none;
  }

  /*.background-img2 {
    background-image: url('media/ilustration-about-me.png');
    background-repeat: no-repeat;
    width: 100%;
    position: absolute;
    height: 360px;
    left: 70%;
    top: 2400px;
    transform: scale(1.2);
  }*/

  .about-me {
    align-items: flex-start;
    padding: 130px 100px 80px 100px;
    background-image: url('media/ilustration-about-me.png');
    background-repeat: no-repeat;
    background-position: right;
  }

  .about-me-description {
    width: 50%;
  }

  .knowledge {
    display: flex;
    justify-content: space-evenly;
    text-align: left;
  }

  .contact-me {
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
    padding: 120px 48px;
  }

  .contact-me h2 {
    padding-top: 20px;
    text-align: left;
    max-width: 350px;
  }

  .contact-form {
    max-width: 700px;
  }

  .contact-form button {
    align-self: flex-start;
  }
}
